@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f7fb;
  color: #111111;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: black;
  color: white;
}

.glass {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.4);
}

.noise {
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.03;
  background-image:
    url("https://grainy-gradients.vercel.app/noise.svg");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}